.dashboard__card{
  padding: 20px;
  margin-bottom: 20px;
}
.dashboard-member__button-show{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 20px;
}