.dashboard-member__popup-delete {
    width: 300px !important;
    padding: 20px !important;
    border-radius: 4px !important;
}
.dashboard-popup__buttons-spacer {
    width: 20px;
    height: 1px;
}
.dashboard-popup__buttons-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.driver__row {
    font-size: 18px !important;
}
