.dashboard-member__popup-delete {
    width: 300px !important;
    padding: 20px !important;
    border-radius: 4px !important;
}
.dashboard-popup__buttons-spacer {
    width: 20px;
    height: 1px;
}
.dashboard-popup__buttons-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.margin14 {
    margin-left: -14px;
}
.margin10 {
    min-width: 34px !important;
    padding: 0 !important;
    margin-left: -3px !important;
}
.empty {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.empty-spacer {
    height: 10px;
}
.min-width200 {
    min-width: 200px;
}
.no__wrap {
    white-space: nowrap;
}
